body {
  margin: 0 auto;
  padding: 0;
  background-color: #ededed;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
}

.container {
  height: 3rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 0.1rem;
  font-size: 1rem;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1rem;
  height: inherit;
}

.title {
  font-size: 0.6rem;
  font-weight: bold;
}

.size {
  font-size: 0.5rem;
}

.version {
  font-size: 0.5rem;
}

.download {
  float: right;
  width: 3.5rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: 0.5rem;
  background-color: #2db900;
  color: #fefef9;
  border-radius: 0.1rem;
  font-weight: bold;
  cursor: pointer;
}
